{{page-title "Index"}}

<div class="container">
  <h1>EmberJS</h1>
  <img alt="img" src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" width="400"
    height="200" />
  <p>Visit <a href="https://emberjs.com/">EmberJS</a> for more information.</p>
</div>