@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row wrapper">
        <NavMenu Title="Blazor App" />
        <main role="main" class="col-12 col-md-9 col-lg-10 px-4">
            @Body
        </main>
    </div>
</div>