@page "/"
<div class="container">
    <h1 class="display-3">Blazor WebAssembly</h1>
    <img alt="Blazor Logo" src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Blazor.png" width="400" height="200" />
    <p>Visit <a href="https://docs.microsoft.com/aspnet/">Blazor</a> for more information.</p>
</div>
